FLIGHTAWARE_API_KEY=DWJmVBsQwpPWSH53OCi0dOKgAQlWiCcL
# AIRLABS_API_KEY=YOUR_KEY_HERE
HOST=0.0.0.0
PORT=8000
DEBUG=1
# FLIGHT_STATUS_DB=flight_status.db
APPLE_TEAM_ID="SU5XY9A9GF"
APPLE_MAPS_ID="maps.com.orienta.world"
APPLE_KEY_ID="Q995889V4H"
AMAP_KEY="69093c91976116d653741e8763e8ef77"

# --- MapKit JS (Apple Maps) ---
VITE_MAPKIT_TEAM_ID="SU5XY9A9GF"
VITE_MAPKIT_KEY_ID="Q995889V4H"
VITE_MAPKIT_MAPS_ID="maps.com.orienta.world"
VITE_MAPKIT_ORIGIN=http://localhost:5174
# Option A: paste PEM private key (PKCS8)
VITE_MAPKIT_PRIVATE_KEY=
# Option B: provide path to .p8
VITE_MAPKIT_PRIVATE_KEY_PATH=./AuthKey_Q995889V4H.p8

# --- Flight data provider (optional) ---
# VITE_FLIGHT_PROVIDER=mock | flightaware
VITE_FLIGHT_PROVIDER=mock
VITE_FLIGHTAWARE_API_KEY=DWJmVBsQwpPWSH53OCi0dOKgAQlWiCcL